@{
    ViewData["Title"] = "All Bowlers";
}

@model List<Bowler>

@*Shows all teams*@
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle fw-normal" type="button" data-toggle="dropdown">
        Filter by Team
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        @foreach (Team t in ViewBag.Teams)
        {
            <li style="padding-left:10px;"><a asp-controller="Home" asp-action="Teams" asp-route-teamid="@t.TeamID">@t.TeamName</a></li>
        }
    </ul>
</div>
<br />


@*Shows the team name*@
@foreach (Team t in ViewBag.AllTeams)
{
    <h2 class="lead fw-normal mb-lg-0" style="font-size:28px; text-align:center">The @t.TeamName</h2>
}

<br />


<table class="table table-bordered table-striped table-hover table-light">
    <thead class="font-weight-bold">
        <tr>
            <td>First Name</td>
            <td>Last Name</td>
            <td>Middle Initial</td>
            <td>Address</td>
            <td>City</td>
            <td>State</td>
            <td>Zip</td>
            <td>Phone Number</td>
        </tr>
    </thead>

    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>@b.BowlerFirstName</td>
                <td>@b.BowlerLastName</td>
                <td>@b.BowlerMiddleInit</td>
                <td>@b.BowlerAddress</td>
                <td>@b.BowlerCity</td>
                <td>@b.BowlerState</td>
                <td>@b.BowlerZip</td>
                <td>@b.BowlerPhoneNumber</td>

                <td><a class="btn btn-outline-info" asp-controller="Home" asp-action="Edit" asp-route-bowlerid="@b.BowlerID">Edit</a></td>
                <td><a class="btn btn-outline-danger" asp-controller="Home" asp-action="Delete" asp-route-bowlerid="@b.BowlerID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
